@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Quicksand', sans-serif;
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.cabecera {
    display: flex;
    background-image: url(../img/banner-2.jpg);
    background-size:cover;
    height:100vh;
    width: 100%; 
    align-items: center;
    justify-content: center;
}

.encabezado {
    text-align: center;
    font-size: 80px;
    margin: 0%;
    padding: 10%;

}